<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:admin_html_title) ? yield(:admin_html_title) : t('common.admin_html_title') %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width,initial-scale=1">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= yield :head %>
  </head>

  <body>
    <%= render 'layouts/admin/header' %>
    <%= yield %>
  </body>
</html>
