<%# 検索ボックス %>
<div class="uk-padding-small uk-tile uk-tile-muted uk-box-shadow-xlarge" uk-sticky="offset: 70;">
  <%# 表示中の検索条件 %>
  <div uk-grid>
    <div class="uk-width-auto uk-flex uk-flex-left uk-margin-small uk-text-bold">検索条件</div>
    <div class="uk-width-expand uk-flex uk-flex-right uk-margin-remove uk-text-success">最終更新：<%= l @chart_update_date %></div>
  </div>
  <ul class="uk-margin-remove-top uk-list">
    <li class="uk-margin-remove-top">
      <div class="uk-margin-remove-top uk-flex uk-flex-middle" uk-grid>
        <div class="uk-width-auto"><%= Chart.human_attribute_name 'level' %>：</div>
        <div class="uk-padding-remove-left uk-width-expand">
          <span class="uk-margin-small-left" style="font-family: 'AvenirNextCondensed-Bold';"> <%= @q_conditions['level'] %></span>
        </div>
      </div>
      <div class="uk-margin-remove-top uk-flex uk-flex-middle" uk-grid>
        <div class="uk-width-auto"><%= Chart.human_attribute_name 'difficult' %>：</div>
        <div class="uk-padding-remove-left uk-width-expand">
          <div class="uk-flex">
            <% @q_conditions['difficult'].each do |n| %>
              <% diff = Chart.difficult.find_value n %>
              <div class="diff-icon__box diff-icon__<%= diff %>">
                <span class="diff-icon__diff-text"><%= diff %></span>
              </div>
            <% end %>
          </div>
        </div>
      </div>
      <% if @q_conditions['musicname'].present? %>
        <div class="uk-margin-remove-top uk-flex uk-flex-middle" uk-grid>
          <div class="uk-width-auto"><%= Chart.human_attribute_name 'musicname' %>：</div>
          <div class="uk-padding-remove-left uk-width-expand">
            "<%= @q_conditions['musicname'] %>" を含む
          </div>
        </div>
      <% end %>
    </li>
  </ul>

  <%# 条件選択/リセットボタン %>
  <div class="uk-flex uk-flex-right">
    <a class="uk-button uk-button-secondary uk-button-small" href="#search-modal-container" uk-toggle>条件選択</a>
    <%= link_to 'リセット', puc_count_charts_path, class: 'uk-margin-small-left uk-button uk-button-secondary uk-button-small' %>
  </div>


  <hr>

  <%# ページネーション %>
  <div class="uk-margin-top">
    <%= paginate @charts, window: @window_size %>
  </div>
</div>

<%# 検索モーダル %>
<div id="search-modal-container" class="uk-modal-container" uk-modal>
  <div class="uk-modal-dialog">
    <%= search_form_for @q, url: puc_count_charts_path do |f| %>
      <div class="uk-modal-body">
        <button class="uk-modal-close-default" type="button" uk-close></button>

        <%# レベル選択 %>
        <div class="js-reset-container">
          <div class="uk-flex">
            <span class="uk-text-large">レベル</span>
            <div class="uk-margin-small-left uk-margin-auto-vertical" style="font-family: 'AvenirNextCondensed-Bold';">
              <%= f.radio_button :level_eq, '', { checked: true, class: 'uk-radio' } %> All
            </div>
          </div>
          <div class="uk-margin-small uk-margin-remove-bottom uk-grid-small uk-child-width-auto uk-grid">
            <% (1..10).each do |n| %>
              <label class="uk-margin-small-bottom" style="font-family: 'AvenirNextCondensed-Bold';">
                <%= f.radio_button :level_eq, n, { class: 'uk-radio' } %>
                <%= n.to_s.rjust(2, '0') %>
              </label>
            <% end %>
          </div>
          <div class="uk-margin-remove-vertical uk-grid-small uk-child-width-auto uk-grid">
            <% (11..20).each do |n| %>
              <label class="uk-margin-small-bottom" style="font-family: 'AvenirNextCondensed-Bold';">
                <%= f.radio_button :level_eq, n, { class: 'uk-radio' } %>
                <%= n %>
              </label>
            <% end %>
          </div>
        </div>

        <hr>

        <%# 難易度選択 %>
        <div class="js-reset-container">
          <div class="uk-flex">
            <span class="uk-text-large">難易度</span>
            <div class="uk-margin-small-left uk-margin-auto-vertical">
              <a class="uk-button uk-button-default uk-button-small js-reset-checkbox" href="javascript:void(0)">リセット</a>
            </div>
          </div>
          <div class="uk-margin-small uk-margin-remove-bottom uk-grid-small uk-child-width-auto uk-grid">
            <% (0..3).each do |n| %>
              <label class="uk-margin-small-bottom uk-flex uk-flex-middle">
                <%= f.check_box :difficult_eq_any, { multiple: true, class: 'uk-checkbox js-reset-target' }, n, nil %>
                <% diff = Chart.difficult.find_value n %>
                <div class="uk-margin-small-left diff-icon__box diff-icon__<%= diff %>">
                  <span class="diff-icon__diff-text"><%= diff %></span>
                </div>
              </label>
            <% end %>
          </div>
          <div class="uk-margin-remove-vertical uk-grid-small uk-child-width-auto uk-grid">
            <% (4..7).each do |n| %>
              <label class="uk-margin-small-bottom uk-flex uk-flex-middle">
                <%= f.check_box :difficult_eq_any, { multiple: true, class: 'uk-checkbox js-reset-target' }, n, nil %>
                <% diff = Chart.difficult.find_value n %>
                <div class="uk-margin-small-left diff-icon__box diff-icon__<%= diff %>">
                  <span class="diff-icon__diff-text"><%= diff %></span>
                </div>
              </label>
            <% end %>
          </div>
        </div>

        <hr>

        <%# 楽曲名指定 %>
        <div class="js-reset-container">
          <div class="uk-flex">
            <span class="uk-text-large">楽曲名</span>
            <div class="uk-margin-small-left uk-margin-auto-vertical">
              <a class="uk-button uk-button-default uk-button-small js-reset-text" href="javascript:void(0)">リセット</a>
            </div>
          </div>
          <div class="uk-margin-small">
            <%= f.search_field :musicname_cont, class: 'uk-input js-reset-target', maxlength: 20 %>
          </div>
        </div>
      </div>
      <div class="uk-modal-footer uk-text-right">
        <button class="uk-button uk-button-default uk-modal-close" type="button">戻る</button>
        <%= f.submit '検索', class: 'uk-button uk-button-primary' %>
      </div>
    <% end %>
  </div>
</div>

