<%# テーブル表示部 %>
<% if @charts.present? %>
  <table class="uk-table uk-table-small uk-table-middle uk-table-divider uk-table-hover">
    <thead>
      <tr>
        <th class="uk-width-auto">
          <%= sort_link(
            @q,
            :id,
            Chart.human_attribute_name(:musicname) + '（ソートは収録順）',
            { default_order: :asc },
            { class: 'uk-text-muted uk-link-reset' }
          ) %>
        </th>
        <th class="uk-width-1-5">
          <%= sort_link(
            @q,
            :puc_count,
            Chart.human_attribute_name(:puc_count),
            { default_order: :desc },
            { class: 'uk-text-muted uk-link-reset' }
          ) %>
      </th>
      </tr>
    </thead>
    <tbody>
      <% @charts.each do |chart| %>
        <tr>
          <td>
            <div class="uk-flex uk-flex-middle">
              <div class="uk-margin-small-right diff-icon__box diff-icon__<%= chart.difficult %>">
                <span class="diff-icon__text"><%= chart.level.to_s.rjust(2, '0') %></span>
              </div>
              <%= chart.musicname %>
            </div>
          </td>
          <td>
            <%= chart.puc_count >= 100 ? '100 ↑' : chart.puc_count %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <div class="uk-margin-large">
    <p class="uk-text-muted">条件に合致する楽曲が見つかりませんでした。</p>
  </div>
<% end %>
</div>
