<%# タイトルタグ %>
<% content_for(:html_title) { "#{t('common.html_title')} | lv.#{@level}" } %>
<%# head %>
<% content_for(:head) { javascript_include_tag 'common', 'data-turbolinks-track': 'reload' } %>

<%# ----- body 開始 ----- %>
<div class="uk-container">
  <div class="uk-section-xsmall">
    <div class="uk-card uk-card-default uk-card-body">
      <%# 表示中の検索条件 %>
      <p class="uk-margin-small uk-text-bold">検索条件</p>
      <%= display_search_conditions(@q.conditions) %>

      <%# 検索モーダル %>
      <div class="uk-flex uk-flex-right">
        <a class="uk-button uk-button-primary" href="#search-modal-container" uk-toggle>条件選択</a>
      </div>
    </div>
    <div id="search-modal-container" class="uk-modal-container" uk-modal>
      <div class="uk-modal-dialog">
        <%= search_form_for @q, url: puc_count_charts_path do |f| %>
          <div class="uk-modal-body">
            <button class="uk-modal-close-default" type="button" uk-close></button>

            <%# レベル選択 %>
            <div class="js-reset-container">
              <div class="uk-flex">
                <span class="uk-text-large">レベル</span>
                <div class="uk-margin-small-left uk-margin-auto-vertical">
                  <a class="uk-button uk-button-default uk-button-small js-reset-checkbox" href="javascript:void(0)">リセット</a>
                </div>
              </div>
              <div class="uk-margin-small uk-grid-small uk-child-width-auto uk-grid">
                <% (1..20).each do |n| %>
                  <label class="uk-margin-small-bottom">
                    <%= f.check_box :level_eq_any, { multiple: true, class: 'uk-checkbox js-reset-target' }, n, nil %>
                    <%= n %>
                  </label>
                <% end %>
              </div>
            </div>

            <div class="uk-divider-icon"></div>

            <%# 難易度選択 %>
            <div class="js-reset-container">
              <div class="uk-flex">
                <span class="uk-text-large">難易度</span>
                <div class="uk-margin-small-left uk-margin-auto-vertical">
                  <a class="uk-button uk-button-default uk-button-small js-reset-checkbox" href="javascript:void(0)">リセット</a>
                </div>
              </div>
              <div class="uk-margin-small uk-grid-small uk-child-width-auto uk-grid">
                <% (0..7).each do |n| %>
                  <label class="uk-margin-small-bottom">
                    <%= f.check_box :difficult_eq_any, { multiple: true, class: 'uk-checkbox js-reset-target' }, n, nil %>
                    <%= Chart.difficult.find_value n %>
                  </label>
                <% end %>
              </div>
            </div>

            <div class="uk-divider-icon"></div>

            <%# 楽曲名指定 %>
            <div class="js-reset-container">
              <div class="uk-flex">
                <span class="uk-text-large">楽曲名</span>
                <div class="uk-margin-small-left uk-margin-auto-vertical">
                  <a class="uk-button uk-button-default uk-button-small js-reset-text" href="javascript:void(0)">リセット</a>
                </div>
              </div>
              <div class="uk-margin-small">
                <%= f.search_field :musicname_cont, class: 'uk-input js-reset-target' %>
              </div>
            </div>
          </div>
          <div class="uk-modal-footer uk-text-right">
            <button class="uk-button uk-button-default uk-modal-close" type="button">戻る</button>
            <%= f.submit '検索', class: 'uk-button uk-button-primary' %>
          </div>
        <% end %>
      </div>
    </div>

    <%# テーブル表示部 %>
    <% if @charts.present? %>
      <table class="uk-table uk-table-small uk-table-divider">
        <thead>
          <tr>
            <th class="uk-width-auto"><%= Chart.human_attribute_name(:musicname) %></th>
            <th class="uk-width-1-4"><%= Chart.human_attribute_name(:puc_count) %></th>
          </tr>
        </thead>
        <tbody>
          <% @charts.each do |chart| %>
            <tr>
              <td>
                <%= chart.musicname %>
                <span class="uk-text-small uk-text-muted"><%= "[#{chart.difficult}]" + " (#{chart.level})" %></span>
              </td>
              <td><%= chart.puc_count >= 100 ? '100 ↑' : chart.puc_count %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <div class="uk-margin">
        <p class="uk-text-muted">条件に合致する楽曲が見つかりませんでした。</p>
      </div>
    <% end %>
    <%= paginate @charts, themes: 'uikit' %>
  </div>
</div>
<%# ----- body 終了 ----- %>
