<%# タイトルタグ %>
<% content_for(:html_title) { "#{t('common.html_title')} | lv.#{@level}" } %>

<%# ----- body 開始 ----- %>
<div class="uk-container">
  <div class="uk-section-xsmall">
    <%# 検索モーダル %>
    <a class="uk-button uk-button-default" href="#search-modal-container" uk-toggle>条件選択</a>
    <div id="search-modal-container" class="uk-modal-container" uk-modal>
      <div class="uk-modal-dialog">
        <%= search_form_for @q, url: puc_count_charts_path do |f| %>
          <div class="uk-modal-body">
            <button class="uk-modal-close-default" type="button" uk-close></button>
            <span class="uk-text-bold">レベル</span>
            <div class="uk-margin-small uk-grid-small uk-child-width-auto uk-grid">
              <% (1..20).each do |n| %>
                <label class="uk-margin-small-bottom">
                  <%= f.check_box :level_eq_any, { multiple: true, class: 'uk-checkbox' }, n, nil %>
                  <%= n %>
                </label>
              <% end %>
            </div>
            <span class="uk-text-bold">難易度</span>
            <div class="uk-margin-small uk-grid-small uk-child-width-auto uk-grid">
              <% (0..3).each do |n| %>
                <label class="uk-margin-small-bottom">
                  <%= f.check_box :difficult_eq_any, { multiple: true, class: 'uk-checkbox' }, n, nil %>
                  <%= n %>
                </label>
              <% end %>
            </div>
            <span class="uk-text-bold">楽曲名</span>
            <div class="uk-margin-small">
              <%= f.search_field :musicname_cont, class: 'uk-input' %>
            </div>
          </div>
          <div class="uk-modal-footer uk-text-right">
            <button class="uk-button uk-button-default uk-modal-close" type="button">戻る</button>
            <%= f.submit '検索', class: 'uk-button uk-button-primary' %>
          </div>
        <% end %>
      </div>
    </div>

    <%# テーブル %>
    <table class="uk-table uk-table-small uk-table-divider">
      <thead>
        <tr>
          <th class="uk-width-auto"><%= Chart.human_attribute_name(:musicname) %></th>
          <th class="uk-width-1-4"><%= Chart.human_attribute_name(:puc_count) %></th>
        </tr>
      </thead>
      <tbody>
        <% @charts.each do |chart| %>
          <tr>
            <td><%= chart.musicname + " [#{chart.difficult}]" + " (#{chart.level})" %></td>
            <td><%= chart.puc_count >= 100 ? '100 ↑' : chart.puc_count %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= paginate @charts, themes: 'uikit' %>
  </div>
</div>
<%# ----- body 終了 ----- %>
