<% content_for(:html_title) { "#{t('common.html_title')} | lv.#{@level}" } %>

<div class="uk-container">
  <div class="uk-section-xsmall">
    <button class="uk-button uk-button-default" type="button">レベル選択</button>
    <div class="uk-width-5-6" uk-dropdown="mode: click; boundary: .uk-container">
      <%= link_to(
        'ALL',
        puc_count_charts_path,
        class: 'uk-button uk-button-default'
      ) %>
      <% (1..20).each do |n| %>
        <%= link_to(
          n.to_s,
          puc_count_charts_path(q: { level_eq: n }),
          class: 'uk-button uk-button-default'
        ) %>
      <% end %>
    </div>

    <table class="uk-table uk-table-small uk-table-divider">
      <thead>
        <tr>
          <th class="uk-width-auto"><%= Chart.human_attribute_name(:musicname) %></th>
          <th class="uk-width-1-4"><%= Chart.human_attribute_name(:puc_count) %></th>
        </tr>
      </thead>
      <tbody>
        <% @charts.each do |chart| %>
          <tr>
            <td><%= chart.musicname + " [#{chart.difficult}]" + " (#{chart.level})" %></td>
            <td><%= chart.puc_count >= 100 ? '100 ↑' : chart.puc_count %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= paginate @charts, themes: 'uikit' %>
  </div>
</div>